@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

html {
    border: 12px solid #111;
    box-sizing: border-box;
}

#list-meal .card {
    cursor: pointer;
    border: groove;
}

#list-meal .card img {
    height: 250px;
    object-fit: cover;
}

.h-100 {
    height: 100% !important;
}

.fixed-footer {
    padding: 1em;
    text-align: center;
    background-color: #333;
    color: #999;
    z-index: auto;
    bottom: 0;
    margin: 10px 0 0;
}

.site-footer-info {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #ccc;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0px;
    text-transform: none;
}

.site-header {
    padding-top: 2em;
    padding-bottom: 1em;
}

.site-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: none;
}

#searchSeafood {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}

.center {
    display: block;
    margin: auto;
    padding-bottom: 25px;
    width: 300px;
}

.site-instructions {
    text-align: justify;
    text-justify: inter-word;
  }